.group-header{
    display: flex;
    flex-direction: row;
    color:rgb(105, 105, 196);
    margin: 50px;
    
    
}

.group-header h2{
    width: 50%;
    font-size: 70px;
}

.group-container img{
    background-color: aquamarine;
    width: 30%;
    object-fit: contain;
}

.group-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.group-element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid rgb(25, 139, 193);
    border-radius: 30px;
    margin: 20px;
}