.group-header{
    display: flex;
    flex-direction: row;
    color:rgb(80, 213, 135);
    margin: 50px;
    background-image: url('./imgGroup/tloGrupa.jpg');
    height: 30vh;
    
    
}

.addNews-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.group-header h2{
    width: 40%;
    font-family: 'Ubuntu';
    font-weight: 600;
    font-size: 70px;
    color:rgb(17, 254, 120);
    text-shadow: 2px 2px black;
    
    
}

.group-images img{
    width: 20%;
  
}

.group-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.group-element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
   
}


.group-images{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.group-button{
    
    position:fixed;
    top:10px;
    right: 20px;
    padding: 8px;
    color:white;
    font-family: 'Ubuntu';
    background-color: rgb(80, 213, 135);
    text-decoration:none;
    border-radius: 20px;
    
}

.img-modal{
    position: fixed;
    top: 40%;
    left: 40%;
    transform: translate(-50%,-50%);
    z-index: 1;
    transform: scale(1.8);
}

.password-field{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.password-field button{
    width: 30px;
    height: 30px;
}

.group-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.group-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    
}

.group-btn button{
    padding: 5px;
    border-radius: 10px;
}


@media  screen and (min-width:750px) {
    h2{
        font-size: 50px;
    }
    
}


@media screen and (max-width:550px) {

    .group-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
    }
    .group-header h2{
        font-size: 30px;
        
    }

    .group-button{
    
      font-size: 10px;
        
    }

    .addNews-container{
        display: flex;
        flex-direction: column;
        
    }

    .addNews-container input{
        margin: 2px;
    }

    .password-field{
        margin-top: 19px;
    }

  

}

