
:root{
    --main-color: rgb(35, 192, 35);
}
*{
    scroll-behavior: smooth;
}

h1 , h2{
    font-family: 'Fira Sans', serif;
    font-weight: 400;
}

h1{
    border-bottom: 2px solid rgb(35, 192, 35) ; 
}

img{
    width: 100%;
}

.arrow-up{
    display: block;
    position: fixed;
    bottom: 50px;
    right: 20px;
    
}

.invalid{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.invalid button{
    margin:5px
}

/* font zoom*/

.zoom{
    font-size: 1.2rem !important;
   
}

.zoom_x2{
    font-size: 1.8rem !important;
}



/*navbar*/

.navbar-link{
    text-decoration: none;
    color:white;
    transition: 0.5s ease;
    
}

.navbar-link:hover{
    font-size: larger;
}



/* main-info */


#main{
    width: 100vw;
    height: 100vh;
    background-image: url('../img/headerimg2.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.main-info{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 40%;
    left: 20vw;
    /* transform: translate(-50% , -50%); */
    text-align: center;
    align-items: center;
    color:white;
    background-color: black;
    background: rgba(0, 0, 0, 0.450);
    border-radius: 20px;
    transform: translateY(-80px);
    opacity: 0;
    transition: 1.5s all;
}



.main-info-container{
    margin-top: 50px !important;
    transform: translateY(70px);
    opacity: 0;
    transition: 1s ease all;
}

.visible-main-info-container{
    transform: translateY(0);
    opacity: 1;
}

.main-info h1{
    font-size: 80px;
    font-weight: 400;
}

.visibleMain{
    transform: translateY(0px);
    opacity: 1;

}

.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}

.nawigacja{
    background-color:  RGB(40, 167, 69);
}


.main-info2 div{
    
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 200px;
    margin-top: 20px;
    /* animation: danger infinite 3s; */
}


/* @keyframes danger {
    0%{
        background-color: rgb(246, 116, 116);

    }
    100%{
        background-color: white;
        

    } 
}*/
    






/* contact form */

.contact-form{
    background-color: RGB(40, 167, 69);
    color:white;
}

.contact-form h1{
    text-align: center;
    margin: 50px 0;
}

.contact-info {
    position: relative;
    text-align: center;
    margin-top: 50px;

}

.contact-info p {
    font-size: 20px;
    margin: 10px;
}

.contact-form img{
    padding: 5px;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 20px;
}


.contact-form a img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    height: auto;
}


/* about*/

#about{
    position: relative;
    height: 90%;
    background-image: url('../img/kids2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    
}

.about-info{
    margin-top: 50px;
    padding: 10px;
    background: rgba(0,0,0,0.6);
    border-radius: 20px;
    color: white;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all;
}

.about-info2{
    margin-top: 50px;
    padding: 10px;
    background: rgba(0,0,0,0.6);
    border-radius: 20px;
    color: white;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all;
    text-align: left;
   
}

.visible{
    transform: translateY(0px);
    opacity: 1;

}

.about-info ul li {
    
    text-align: left;
}


/*gallery */

#gallery{
    margin: 100px auto;
}

.gallery-container{
    position: relative;
    height: 110%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.gallery-head{
    text-align: center;
}

.gallery-container .modal{

    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 60vw;
    height: 70vh;
    transform: translate(-50%,-50%);
    z-index: 1;
}

.gallery-container img{
    width: 23%;
    height: 90%;
    cursor: pointer;

}


.gallery-container .drop{
   
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border: 2px solid rgb(0, 0, 0);
    background: rgba(46, 46, 46, 0.812);
    z-index: 1;
}

.gallery-container .modal img{
    position: relative;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%,-50%);
}

.modalPhone{
    width: 80%;
}

/* wydarzenia */ 

.events-container{
    text-align: center;
}

.events-event{
    display: flex;
    flex-direction: row;
}

/*jadlospis*/

.jadlospis h1{
    margin: 50px 0;
    text-align: center;

}

/*events*/

.events-container{
    margin-top: 30px;
}

.events-element {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.wydarzenia{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color:black;
    margin: 20px;
    transition: 1s ease;
}

.wydarzenia a{
   
    text-decoration: none;
    font-size: 1.4rem;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    padding: 10px;
    color:black;
    transition: 1s ease;
}

.wydarzenia a:hover{
    background-color: var(--main-color);
    color:white;
}



.wydarzenia-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wydarzenia-item{
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wydarzenia-item h2{
    border-bottom: 2px solid var(--main-color);
}

.wydarzenia-item button{
    width: 20%;
}



.wydarzenia-galeria{
    display: flex;
    flex-direction: row;
    gap:20px;
   
   
}

.wydarzenia-galeria img{
    width: 250px;
    height: 200px;
    object-fit:contain;
    
}




.galeria-item{
    width: 200px;
    height: 180px;
    margin: 5px;
    border: 2px solid #ccc;
    transition: 0.4s ease;
    
}



.galeria-item:hover{
    border: 2px solid black;
}

.galeria-item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.zdjecia_wydarzenia-container input{
    margin:5px 10px;
}

.zdjecia_wydarzenia-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.zdjecia_wydarzenia-container h1{
    background-color: var(--main-color);
    color:white;
    border-radius: 10px;
    padding: 10px;
}

.zdjecia_wydarzenia_item button{
    border-radius: 10px;
    padding: 5px;
}

.img-modal2{
    position: fixed;
    top: 40%;
    left: 40%;
    transform: translate(-50% ,-50%);
    transform: scale(3);
    z-index: 2;
    border-radius: 10px;

}








@media screen and (max-width:1300px) {

    .main-info{
        left: 18vw;
    }

    .main-info h1{
        font-size: 60px;
    }
    
}

@media screen  and (min-width:1301px){

    .main-info{
        left: 18vw;
    }
    
}


@media screen and (max-width:990px){
    .main-info{
        left: 20vw;
    }

    .main-info h1{
        font-size: 40px;
    }
}


@media screen and (max-width:776px) {

    .main-info{
        left: 3%;
    }

    .main-info h1{
        font-size: 60px;
    }
    
}


@media screen and (max-width:550px) {

    h1 h2{
        font-size: smaller;
    }

    #main{
        height: 77vh;
    }

    #nav-container{
        text-align: center;
        justify-content: center;
    }

    .main-info{
        position: relative;
        top:25vw;
        left: 0;
        justify-content:unset;
    }

    .main-info2 col{
        text-align: center;
    }

    .main-info2 div{
        margin-left: 10%;
    }

    .main-info h1{
        font-size: 40px;
    }
    
    #galImg{
        width: 80%;
        height: auto;
        
        
    }

    .offcanvas-body{
        height: 70%;
    }


    p{
        font-size: smaller;
    }

    .d-flex{
        flex-direction: column;
        align-items: center;
    }

    #about .row{
        flex-direction: column;

    }

    .contact-form a img{
      position:relative;
      top:12vh;
      left: 50vw;
      width: 60%;
      

    }

    .contact-form{
        position:relative;
        top:100px;
    }

    .main-info-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .jadlospis{
        position: relative;
        top:100px;
    }

    .events-element{
        display: flex;
        flex-direction: column;
    }

    .wydarzenia-galeria{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .wydarzenia-galeria img{
        margin: 5px;
        width: 70%;
        height: auto;
    }

    .img-modal2{
        top:20%;
        left: 0;
        transform: scale(1);
        width: 100%;
        
    }

    .zdjecia_wydarzenia-container h1{
        text-align: center;
    }

    .zdjecia_wydarzenia_item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .zdjecia_wydarzenia_item button{
        margin:5px;
    }
  
}

@media screen and (max-width:350px) {

    .contact-form a img{
        top:30vw;
    }

}


/*dark mode*/

.darkMode{
    background-color: rgb(0, 0, 0) !important;
    color:yellow !important;
}

